<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aqi.mylaundry2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Splashscreen" />

        <!-- Menambahkan Activity Baru! -->
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DaftarActivity"
            android:label="@string/buat_akun" />
        <activity
            android:name=".ProfilActivity"
            android:label="@string/profil" />
        <activity
            android:name=".RiwayatActivity"
            android:label="Riwayat" />
        <activity
            android:name=".BantuanActivity"
            android:label="Bantuan" />
        <activity
            android:name=".LayananActivity"
            android:label="Layanan" />
        <activity
            android:name=".NotakuActivity"
            android:label="Notaku" />
        <activity
            android:name=".HubungiKamiActivity"
            android:label="Hubungi Kami" />
        <activity
            android:name=".InfoTokoActivity"
            android:label="Info Toko" />
        <activity
            android:name=".InfoAplikasiActivity"
            android:label="Info Aplikasi"
            android:theme="@style/Splashscreen" />
        <activity
            android:name=".TambahanActivity"
            android:label="Tambahan" />
        <activity
            android:name=".DetailTransaksiActivity"
            android:label="Detail Transaksi" />
        <activity
            android:name=".PemesananActivity"
            android:label="Pemesanan" />
        <activity
            android:name=".TulisEmail"
            android:label="Kritik dan Saran" />
        <activity
            android:name=".ProfilEditActivity"
            android:label="Edit Profil" />
    </application>

</manifest>